@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

:root{
  --black:#333;
  --white:#fff;
}

body{
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  background: #dcdcdc;
}

.container{
  position: relative;
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap: 20px;
  padding: 20px;
}

.container .card{
  width: 100%;
  background: var(--white);
}

.container .card .imgBox{
  position: relative;
  width: 100%;
  height: 310px;
  overflow: hidden;
}

.container .card .imgBox img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease-in-out;
  transform-origin: right;
}

.container .card:hover .imgBox img{
  transform: scale(1.5);
}

.container .card .content{
  padding: 20px;
}

.container .card .content .productName h3{
  font-size: 18px;
  font-weight: 500;
  color: var(--black);
  margin: 5px 0;
}

.container .card .content .price_rating{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .card .content .price_rating h2{
  font-size: 20px;
  color: red;
  font-weight: 500;
}

.container .card .content .price_rating .fa{
  color: yellow;
  cursor: pointer;
}

.container .card .content .fa.grey{
  color:#ccc;
}